<section class="kalzada-footer">
  <div class="footContCont">
    <div class="footSec1">
      <img class="logoImg" src="{{'lorem-logo-b.png'|asset_url|image_tag:'logo'}}" alt="logo"/>
      <p id="footerTxt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
      <p id="footerTxt2">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      <p id="footerTxt3"><span class="fa fa-envelope fa-xl"></span> info@afriendindeedstore.com</p>
        <div class="iconsCont">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-pinterest"></i>
        </div>
    </div>
    <div class="footSec2">
      <p id="footerTxt4">Menu</p>
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
    <div class="footSec3">
      <p id="footerTxt5">SUBSCRIBE AND GET A 15% OFF</p>
      <p id="footerTxt6">Early bird discounts, giveaways, sample sale
      and exciting stuff only.</p>
      <div id="subsCont">
        <input id="footemail" type="email" placeholder="Enter email address"/>
        <button id="footsubmitbtn">SUBSCRIBE</button>
      </div>
      <img class="mapImg" src="{{'Map_1.png'|asset_url|image_tag:'logo'}}" alt="map"/>
      <p id="footerTxt7">COME TO THE STORE!</p>
    </div>
  </div>
  
  <hr style="width:75%;margin:20px 0 0 0;border-top: 1px solid gray;"/>
  <p id="copyright">© Copyright 2022</p>
</section>

<style>
  .kalzada-footer{
    width: 100%;
    height: 555px;
    background: #121212;
    color:#ffffff;
    padding:50px;
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
  }

  .footContCont{
    display:flex;
    flex-flow:row;
    align-items: center;
    justify-content: center;
  }

  .footContCont>div{
    height:400px;
    width:40%;
    /*outline:1px solid red;*/
    margin:0px;
  }

  div.footSec2{
    width:30%;
    display:flex;
    flex-flow:column;
    align-items:start;
    padding:10px;
  }

  img.logoImg{
    width:220px;
  }

  div.footSec1 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
  }

  #footerTxt3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* identical to box height */

    color: #FFFFFF;
  }

  .iconsCont li{
    color:#FFFFFF;
    margin:0px 10px;
  }

  #footerTxt4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height, or 165% */

    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  .footSec2 a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    text-decoration:none;
    margin-bottom:15px;
    text-transform: uppercase;

    color: #FFFFFF;

  }

  #footerTxt5{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  #footerTxt6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;

    opacity: 0.78;
  }

  #footemail{
    width: 205px;
    height: 35px;

    background: #F4F6F5;
    border: 1px solid #D0D0D0;
    padding:5px;
  }

  #footsubmitbtn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;

    text-transform: uppercase;

    color: #121212;

    width: 123px;
    height: 35px;

    background: #DDDDDD;
  }

  .mapImg{
    margin-top:20px;
  }

  #footerTxt7{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
  }
</style>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}