<section class="Section4" id="Section4">
    <p id="sec4text1">TESTIMONIALS</p>
    <img id="sec4img" src="{{'Ellipse_5.png'|asset_url|image_tag:'vape'}}"/>
    <p id="sec4text2">Adipiscing dignissim euismod ad venenatis volutpat sociis feugiat purus ridiculus rhoncus nullam sodales euismod ad venenatis volutpa ridiculus.</p>
    <div id="sec4namecont">
        <span id="sec4name">John Does&nbsp;</span><span id="sec4Pos">- CEO ENVATO </span>
    </div>
    <div class="bulletCont">
        <div id="bullets">
            <span class="fa fa-circle fa-xs" id="circleActive" ></span>
            <span class="fa fa-circle fa-xs"></span>
            <span class="fa fa-circle fa-xs"></span>
        </div>
    </div>
</section>

<style>
    
    .Section4{
        display:flex;
        justify-content:center;
        flex-flow:column;
        height:552px;
        background:#74B6C7;
        align-items: center;
    }   

    p#sec4text1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        text-align: center;

        color: #FFFFFF;
    }

    #sec4text2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        width:60%;
        text-align: center;

        color: #FFFFFF;
    }

    #sec4name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        text-align: center;

        color: #FFFFFF;

    }

    #sec4Pos{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 15px;
        line-height:20px;
        text-align: center;

        color: #FFFFFF;

    }

    #bullets span{
        color: #99CDDB;
    }

    span#circleActive{
        color: #ffffff;
    }

    #sec4img{
        width: 100px;
        height: 100.64px;
    }
    
</style>

{% schema %}
{
    "name": "Kalzada Section4",
    "settings":[],
    "presets":[
        {
        "name":"Kalzada Section4",
        "category": "Text"
        }
    ]
}
{% endschema %}